<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MemberOnly</title>
    <link rel="stylesheet" href="/login-style.css">
</head>
<body>
    <nav >
        <a id="logo" href="/">MemberOnly</a>
    </nav>
    <div id="main-container">
        <div id="login-container">
            <h1 id="loginhead">POST</h1>
            <form action="/form" method="POST" id="login">
                <label>title</label>
                <input name="title" id="username" required>
                <label>content</label>
                <textarea id="password" name="content" placeholder="Write here..."></textarea>
                <button>ADD POST</button>
            </form>
        </div>
    </div>
    
</body>
</html>